<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--HOST IMAP-->
    <add key="Host" value=""/>
     <!--USER IMAP-->
    <add key="Email" value=""/>
     <!--PASSWORD IMAP-->
    <add key="Password" value=""/>
    
    <!-- Duerme el servicio por un tiempo x en milisegundos ante un error-->
    <add  key="SleepAfterError" value="2000" />
    <!--Veces que intentará una conexión ante error--> 
    <add  key="TimesToTry" value="3"/>
    <!--Accion a tomar ante revision de mail 0: NADA 1:LEER 2:ELIMINAR-->
    <add key="WhatToDoEmail" value="2"/>
    
  </appSettings>
</configuration>