<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  
  <appSettings>
    <add key="Interval" value="30000"/>
    <add key="SleepToTry" value="10000"/>
    <add key="ApplicationID" value="1"/>
    <add key="ApplicationName" value="RPlatform- RicohMailService"/>
    
    
     <!--Carpeta que contiene los mails sin adjuntos-->
    <add key="FolderNameWithoutAttachments" value="SIN_ADJUNTOS"/>
    
    <!--Extensiones de archivos habilitada separados por coma ej. pdf,tif,jpg-->
    <add key="AllowedExtensions" value="pdf"/>
    <add key="AllowedExtensionsOther" value="xls,rtf,doc,docx,png,jpg"/>
    <!--Configuraciones IMAP-->
    
    <!--Puerto-->
    <add key="Port" value="143"/>
    
    <!--Usar ssl 0:no 1:si-->
    <add key="UseSSL" value="0"/>
    
    <add key="Host" value="imap.ricohonline.org"/>
    <!--<add key="User" value="RwBMAE8AQgBBAEwARgBBAFIATQBcAGcAZgBmAHgAcAAwADAA"/>
    <add key="Password" value="VQByAHUAZwB1AGEAeQA3ADAA"/>-->
    <!--Credenciales de prueba-->
    <add key="User" value="rar.factprov@ricoh-la.com"/>
    <add key="Password" value="#1company"/>
    <!--Directorio donde se descargan las facturas/documentos especializados-->
    <add key="DownloadDirectory" value="C:\\Attachments\\Facturas\\"/>
    <add key="DownloadDirectoryOther" value="C:\\Attachments\\Adjuntos\\"/>
    <add key="LogPath" value="C:\\Attachments\\Logs\\"/>
    <!--habilita uso de desencriptado-->
    <add key="UseDecrypt" value="0"/>
    
    <!--Habilitar monitoreo de servio, requiere servidor saliente-->
    <!--Envía un mail cuando el servicio inicia o si se detiene-->
    <!--En caso de error envia la excepcion p-->
    <add key="EnableMonitoring" value="0"/>
    <add key="ToMonitor" value="ezequiel.basso@ricoh-la.com,santiago.zarza@ricoh-la.com,Fabian.Gimenez@ricoh-la.com,christian.godino@ricoh-la.com,Johan.Lopez@Ricoh-la.com,johan.lopez@ricoh-la.com"/>
    <add key="SmtpServer" value="c210cC5nbWFpbC5jb20="/>
    <add key="EmailFromMonitor" value="ZzdiYXNzb0BnbWFpbC5jb20="/>
    <add key="UserMonitor" value="ZzdiYXNzbw=="/>
    <add key="PasswordMonitor" value="ZUJhc3NvMzQ4NTQ5NDRlRQ=="/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.4.0" newVersion="3.1.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="RPEntities" connectionString="metadata=res://*/Data.csdl|res://*/Data.ssdl|res://*/Data.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.21.39.72;initial catalog=RICOH_PLATFORM;user id=db2admin;password=01ricoH;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
